<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="images/profil_github.jpeg" alt="profil_github" class="img-thumbnail rounded-circle mt-5" width="200">
            <h1 class="display-4">Marwah</h1>
            <p class="lead">Lecturer | Content Creator</p>
        </div>
    </div>
</div>